*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    /* font-family: 'Karla', sans-serif;
    font-family: 'Space Mono', monospace; */
  }

.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    flex-basis: 45%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: hsl(221, 100%, 96%)
}

.result-header{
    color:hsl(241, 100%, 89%);
    font-size: 18px;
    opacity: 90%;
    margin-top: 10px;
}

.avg-score{
    aspect-ratio : 1 / 1;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    align-items: center;
    justify-content: center;
}

.avg-score h1{
    font-weight: 800;
    font-size: 50px;
}

.avg-score p{
    color: hsl(241, 100%, 89%);
    opacity: 80%;
}

.description{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-around;
   width: 60%;
   flex-basis: 30%;
   margin-bottom: 20px;
}

.description p{
    opacity: 80%;
    color: hsl(241, 100%, 89%);
    font-size: 14px;
}

.description h3{
    font-weight: 700;
    font-size: 25px;
}



.bottom-section{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}

.summary-container{
    border-radius: 10px;
    flex-basis: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-header{
    font-size: 1.1rem;
}

#reaction-summary{
    background-color: hsla(0, 100%, 67%, 10%);
    color: hsl(0, 100%, 67%);
}

#memmory-summary{
    background-color: hsla(39, 100%, 56%, 10%);
    color: hsl(39, 100%, 56%);
}

#verbal-summary{
    background-color: hsla(166, 100%, 37%, 10%);
    color: hsl(166, 100%, 37%);
}

#visual-summary{
    background-color: hsla(234, 85%, 45%, 10%);
    color: hsl(234, 85%, 45%);
}

.score{
    font-weight: 800;
    color: hsl(224, 30%, 27%, 50%);
    margin-right: 20px;
}

.score span{
    color: hsl(224, 30%, 27%, 100%);
}

.text-summary{
    display: flex;
    margin: 10px;
}

.text-summary p{
    margin-left: 15px;
}


.btn-continue{
    color:white;
    background-color: hsl(224, 30%, 27%);
    flex-basis: 13%;
    border-radius: 30px;
    border: 0;
    font-weight: 500;
    font-size: 18px;
}

img{
    height: 20px;
    width: 20px;
}

@media (min-width: 1440px){
    body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 50%;
        font-size: 1.5rem;
    }

    .top-section{
        border-radius: 30px;
    }

    .main-container{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;
        border-radius: 30px;
        box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.15);
    }

    .top-section h4{
        font-size: 1.5rem;
    }
    .top-section h1{
        font-size: 5rem;
    }
    .top-section h3{
        font-size: 3rem;
    }

    .description p{
        font-size: 1.3rem;
    }

    .btn-continue{
        font-size: 1.5rem;
    }

    .summary-header{
        font-size: 2rem;
    }

    img{
        width: 30px;
        height: 30px;
    }
}
