*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.image-container{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #0d1117;
}

.image-top{
    text-align: center;
}

.image-bottom{
    width: 100%;
    height: 100%;
    display: inline;
}

img.pic{
    width: 100%;
    height: auto;
    /* to center image */
    display: block;
    margin: 0 auto;
}

.image-description{
    display: inline-block;
}

img.delete{
    display: inline-block;
    width: 40px;
    height: 40px;
}
